.a-markdown {
  font-size: 2.2rem;
  line-height: 1.8em;
  padding: 10rem 0;

  h1 {
    font-size: 3.8rem;
    margin-bottom: 2em;
  }

  h2 {
    font-size: 3rem;
    margin-bottom: 1em;
  }

  p {
    margin-bottom: 7rem;
  }

  em {
    color: red;
  }

  strong {
    color: brown;
  }
}
