.o-contentsBox {
  display: block;
  overflow: hidden;
  position: relative;

  border-bottom: 3px solid;
  border-radius: 5px 5px 0 0;
  border-image: linear-gradient(to right, #6eb7db 0%, #f6d580 100%);
  border-image-slice: 1;
  box-shadow: 0 0 8px gray;

  .kv {
    .image {
      width: 100%;
    }
  }

  .info {
    padding: 1rem;
    margin-bottom: 2rem;
    .title {
      font-size: 1.8rem;
      line-height: 1.3em;
      font-weight: bold;
    }
    .desc {
      font-size: 1.4rem;
      line-height: 1.3em;
      padding-top: 1em;
      color: #7a7a7a;
    }
  }

  .date {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1.4rem;
    padding: 0.5em;
    text-align: right;
  }
}
